.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255,255,255,0.7);
}

.navbar-inverse .navbar-brand {
    color: rgba(255,255,255,0.7);
}

.navbar-inverse {
    background-color: #263238;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(255,255,255,0.3);
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #263238;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #263238;
}
/* Core */

.title-so {
    text-transform: uppercase;
    font-weight: 700;
}

.basic-info-so {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.wrapper {
    margin-top: 30px;
}

.text-center-tb-so {
    text-align: center;
    display: block;
}

thead, th {
    text-transform: uppercase;
}

@media print
{
    @page {size: landscape}

    .no-print, .no-print *
    {
        display: none !important;
    }
}